.mega-menu {
  position: static !important;
}

.mega-menu__content {
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  left: 0;
  overflow-y: auto;
  padding-bottom: 2.4rem;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: -1;
  box-shadow: none;
  border-bottom: 0;
}
.mega-menu__content .mega-menu__link,
.mega-menu__content .mega-menu__link:hover {
  font-size: 1.5rem;
  font-weight: 500;
}

.shopify-section-header-sticky .mega-menu__content {
  max-height: calc(100vh - var(--header-bottom-position-desktop, 20rem) - 4rem);
}

.header-wrapper--border-bottom .mega-menu__content {
  border-top: 0;
}

.js .mega-menu__content {
  opacity: 0;
  transform: translateY(-1.5rem);
}

.mega-menu[open] .mega-menu__content {
  opacity: 1;
  transform: translateY(0);
}

.mega-menu__list {
  display: grid !important;
  gap: 2.4rem 4rem;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  list-style: none;
  padding: 3rem;
}

.mega-menu__list a {
  text-align: left;
}
.mega-slider {
  position: relative;
  max-width: 100%;
}
.mega-slider .grid {
  margin-bottom: 0;
}

.mega-slider .slider-button {
}
.mega-slider .slider-button:hover {
}

.mega-slider .slider-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  justify-content: space-between;
}

.mega-slider .slider-buttons .slider-button--prev {
  display: block !important;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -10px;
  border-radius: 100%;
}

.mega-slider .slider-buttons .slider-button--prev:hover {
}

.mega-slider .slider-buttons .slider-button--next:hover {
}

.mega-slider .slider-buttons .slider-button--next {
  display: block !important;

  width: 30px;
  height: 30px;
  position: absolute;
  right: -10px;
  border-radius: 100%;
}

.slider-buttons[hidden] {
  display: none;
}

.mega-menu__link {
  color: rgba(var(--color-foreground), 0.75);
  display: block;
  font-size: 1.3rem;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
  text-decoration: none;
  transition: text-decoration var(--duration-short) ease;
  word-wrap: break-word;
}

.mega-menu__link--level-2 {
  font-size: 1.4rem;
}

.mega-menu__link--level-2:not(:only-child) {
  margin-bottom: 0.8rem;
}

.header--top-center .mega-menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0;
}

.header--top-center .mega-menu__list > li {
  width: 16%;
  padding-right: 2.4rem;
}

.mega-menu__link:hover,
.mega-menu__link--active {
  color: rgb(var(--color-foreground));
  text-decoration: underline;
}

.mega-menu__link--active:hover {
  text-decoration-thickness: 0.2rem;
}

.mega-menu .mega-menu__list--condensed {
  display: block;
}

.mega-menu__list--condensed .mega-menu__link {
  font-weight: 500;
}

.mega-item .button {
  text-transform: inherit;
  font-size: 1.3rem;
  letter-spacing: 0;
  margin-top: 0.5rem;
  text-align: center;
  padding: 0 10px;
  border-radius: 0;
  font-weight: 600;
  min-height: 45px;
  border-radius: 50px;
  font-weight: 500;
  margin-top: 20px;
}

.mega-item {
  position: relative;
}

.mega-item .product-badge {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

@media screen and (min-width: 750px) {
  .mega-contents .slider--desktop.grid--3-col-desktop .grid__item {
    width: 33.33% !important;
  }
}

@media screen and (min-width: 1280px) {
  .slider-button {
    display: none !important;
  }
  .mega-contents .slider--desktop.grid--3-col-desktop .grid__item {
    width: 25% !important;
  }
}

@media (min-width: 750px) {
  .mega-nav {
    grid-area: mega-nav;
  }
  .mega-collections .card__inner {
    max-height: 263.3px;
  }
  .mega-collections {
    grid-area: mega-coll;
  }
  .mega-contents .slider__slide:first-child {
    margin-left: 0 !important;
    scroll-margin-left: 0 !important;
  }
  .mega-menu__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 'mega-nav mega-coll mega-coll mega-coll';
  }
  .mega-row {
    display: flex;
    flex-wrap: wrap;
    column-gap: var(--grid-desktop-horizontal-spacing);
  }
  .mega-row > div {
    flex-grow: 1;
    flex-shrink: 1;
  }
  .mega-row > div:first-child {
    width: calc(25% - var(--grid-desktop-horizontal-spacing)) !important;
  }
  .mega-row > div:last-child {
    width: calc(75% - var(--grid-desktop-horizontal-spacing)) !important;
  }
}

@media (max-width: 749px) {
  .menu-drawer__menu .mega-item .button {
    background: #000;
    color: #fff;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .mega-contents .slider--desktop.grid--3-col-desktop .grid__item {
    padding: 50px;
  }
}

.mega-contents .slider--desktop.grid--3-col-desktop .grid__item {
  padding: 5px;
}
